body {
background-color: black;
text-align: center
}
.F {
width: 30
}
pre {
display: contents;
color: white;
font-size: 40;
font-family: cursive;
text-transform: uppercase
}
b {
display: block;
color: white;
font-family: ICELAND
}
