body 
{
background-color: black;
text-align: center;
}
.F 
{
width: 30px;
}
pre 
{
display: contents;
color: white;
font-size: 40px;
font-family: cursive;
text-transform: uppercase;
}
b 
{
display: block;
color: white;
font-family: ICELAND;
}
.A 
{
width: 30px;
padding-left: 4px;
}
